/*
 * Typography
 * Lifted from: http://www.html5rocks.com/en/tutorials/webfonts/quick/
 */
@font-face {
  font-family: aleo;
  src: url("/fonts/aleo/Aleo Regular/aleo-regular-webfont.otf") format("opentype");
  src: url('/fonts/aleo/Aleo Regular/aleo-regular-webfont.eot'); /* IE 5-8 */ 
  src: local('☺'),             /* sneakily trick IE */
        url('/fonts/aleo/Aleo Regular/aleo-regular-webfont.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
        url('/fonts/aleo/Aleo Regular/aleo-regular-webfont.ttf') format('truetype'), /* Opera, Safari */
        url('/fonts/aleo/Aleo Regular/aleo-regular-webfont.svg#font') format('svg'); /* iOS */
}
@font-face {
  font-family: aleo;
  font-weight: bold;
  src: url("/fonts/aleo/Aleo Bold/aleo-bold-webfont.otf") format("opentype");
  src: url('/fonts/aleo/Aleo Bold/aleo-bold-webfont.eot'); /* IE 5-8 */ 
  src: local('☺'),             /* sneakily trick IE */
        url('/fonts/aleo/Aleo Bold/aleo-bold-webfont.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
        url('/fonts/aleo/Aleo Bold/aleo-bold-webfont.ttf') format('truetype'), /* Opera, Safari */
        url('/fonts/aleo/Aleo Bold/aleo-bold-webfont.svg#font') format('svg'); /* iOS */
}
@font-face {
  font-family: aleo;
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/aleo/Aleo Bold Italic/aleo-bolditalic-webfont.otf") format("opentype");
  src: url('/fonts/aleo/Aleo Bold Italic/aleo-bolditalic-webfont.eot'); /* IE 5-8 */ 
  src: local('☺'),             /* sneakily trick IE */
        url('/fonts/aleo/Aleo Bold Italic/aleo-bolditalic-webfont.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
        url('/fonts/aleo/Aleo Bold Italic/aleo-bolditalic-webfont.ttf') format('truetype'), /* Opera, Safari */
        url('/fonts/aleo/Aleo Bold Italic/aleo-bolditalic-webfont.svg#font') format('svg'); /* iOS */
}
@font-face {
  font-family: aleo;
  font-style: italic;
  src: url("/fonts/aleo/Aleo Italic/aleo-italic-webfont.otf") format("opentype");
  src: url('/fonts/aleo/Aleo Italic/aleo-italic-webfont.eot'); /* IE 5-8 */ 
  src: local('☺'),             /* sneakily trick IE */
        url('/fonts/aleo/Aleo Italic/aleo-italic-webfont.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
        url('/fonts/aleo/Aleo Italic/aleo-italic-webfont.ttf') format('truetype'), /* Opera, Safari */
        url('/fonts/aleo/Aleo Italic/aleo-italic-webfont.svg#font') format('svg'); /* iOS */
}
.tk-body, .tk-header {
  font-family: aleo, helvetica, verdana, sans-serif;
  line-height: 1.5em;
}
.tk-header {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000000;
  color: rgba(0,0,0,0.6);
}
a:hover {
  color: #000000;
  color: rgba(0,0,0,0.8);
}

body {
  font-size: 22px;
}

body > header {
    padding-top: 10px;
}
body > header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

body > header a, p, div, h1, h2, h3, h4 {
  color: #222222;
  color: rgba(0,0,0,0.8);
}

body > header p {
  margin-top: 0;
  margin-bottom: 0;
  color: #eeeeee;
  color: rgba(0,0,0,0.6);
}

body > header {
  border-bottom: 2px solid rgba(0,0,0,0.6);
  padding-bottom: 10px;
}
body > footer {
  border-top: 2px solid rgba(0,0,0,0.6);
  padding-top: 10px;
  font-size: 1.0rem;
}
body > footer p {
  margin: 0;
  line-height: 1.2em;
}

footer {
  clear: both;
}

.content-area {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* Fill the entire space! */
#social, #content {
  max-width: inherit;
}

/* Make the social buttons appear horizontally */
#social {
  float: none;
} 

#social .list { display: inline-block; }
#social .list > .item:first-child { margin-left: 0; }
#social .list > .item { display: inline-block; margin-left: 1em; }

#social .content {
  display: none;
}

.csstransitions footer #social a {
  transition: color .2s ease;
}

.captioned-image svg {
  display: block;
  height: 100%;
  width: 100%;
}
.captioned-image p {
  font-size: 1.0rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2em;
}

.highlight pre {
  font-size: 0.6em;
  line-height: 1em;
  width: 130%;
}

@media(min-width: 780px) {
  #content {
    max-width: 70%;
  }
  #social {
    float: right;
  }
  #social .content {
    display: inherit;
  }
  #social .list { display: inherit; }
  #social .list > .item:first-child { margin-left: inherit; }
  #social .list > .item { display: inherit; margin-left: inherit; }
}
